.logo {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: black;

  .line-top {
    position: relative;

    &::after {

      content: "";
      width: 5px;
      height: 20px;
      background-color: black;
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;

    }

  }

  .line-top,
  .line-bottom {

    display: flex;
    justify-content: center;

  }

  .line {

    display: block;
    width: 16px;
    height: 5px;
    background-color: black;
    margin-bottom: 4px;
    border-radius: 5px;

    &.-one,
    &.-three {

      transform: rotate(30deg);

    }
    &.-two,
    &.-four {

      transform: rotate(-30deg);

    }
    &.-three,
    &.-four {

      width: 15px;

    }

  }

}