{% macro nft(lvl, type) %}
    <div class="nft">
        <div class="nft__hero">
            <div class="nft__rarity">
                <div>Rarity lvl</div>
                <div>{{ lvl }}</div>
            </div>
            <div class="nft__type">
                <div>NFT type</div>
                <div>{{ type }}</div>
            </div>
        </div>
        <div class="nft__grandparent">
            <div class="nft__parent">
                <div class="nft__child">

                </div>
            </div>
        </div>
    </div>
{% endmacro %}