<ul class="tabs">
    <li class="tabs__el">
        <a class="tabs__link active" href="">Collectibles</a>
    </li>
    <li class="tabs__el">
        <a class="tabs__link" href="">Art</a>
    </li>
    <li class="tabs__el">
        <a class="tabs__link" href="">Sports</a>
    </li>
    <li class="tabs__el">
        <a class="tabs__link" href="">Gaming</a>
    </li>
    <li class="tabs__el">
        <a class="tabs__link" href="">Utility</a>
    </li>
    <li class="tabs__el">
        <a class="tabs__link" href="">Cards</a>
    </li>
</ul>